<p id="notice"><%= notice %></p>
<center>
    <h1>Lista de Cuestionarios</h1>
</center>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Prefijo</th>
      <th>Descripción</th>
      <th>Palabras estímulo</th>
      <th>Respuestas requeridas por usuario</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuestionarios.each do |cuestionario| %>
      <tr>
        <td><%= link_to cuestionario.nombre, :controller => 'start', :action => 'index', :id => cuestionario.id %></td>
        <td><%= cuestionario.prefijo %></td>
        <td><%= cuestionario.desc %></td>
          <td><%= Palabra.where(:cuestionario => cuestionario.id).count() %></td>
          <td><%= cuestionario.respuestas %></td>
          <td><%= link_to content_tag(:span, '', class:"glyphicon glyphicon-wrench")+' Palabras estímulo', {:controller => 'pregcuest', :action => 'index', :id => cuestionario.id}, :class => "btn btn-info" %></td>
          <td><%= link_to content_tag(:span, '', class:"glyphicon glyphicon-eye-open")+' Ver', {:controller => 'resultados', :action => 'index', :id => cuestionario.id}, :class => "btn btn-success" %></td>
        <td><%= link_to content_tag(:span, '', class:"glyphicon glyphicon-pencil")+' Editar', edit_cuestionario_path(cuestionario), :class => "btn btn-warning" %></td>
        <td><%= link_to content_tag(:span, '', class:"glyphicon glyphicon-remove")+' Eliminar', cuestionario, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to content_tag(:span, '',class:"glyphicon glyphicon-plus")+' Crear cuestionario', new_cuestionario_path, :class => "btn btn-primary" %>
